<div class="box">
    <div class="box-header text-center">
        <h1 class="box-title">Relatorio de Estoque de Segurança</h1>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <a href="/relatorios/estoque-de-seguranca/gerar-pdf" target="_blank"><button type="button" class="btn btn-primary"
            {{#if estoqueDeSeguranca}}
            {{else}}
            disabled
            {{/if}}> Gerar PDF </button></a>
            <table class="tbl table table-striped text-center">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Quantidade no Estoque</th>
                        <th>Prazo de Reposição</th>
                        <th>Ponto de Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each estoqueDeSeguranca}}
                    <tr {{#ifMenor quantidade pontoDePedido}}class="obrigatorio"{{/ifMenor}}>
                        <td>{{id}}</td>
                        <td>{{descricao}}</td>
                        <td>{{quantidade}}</td>
                        <td>{{prazoReposicao}}</td>
                        <td>{{pontoDePedido}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Quantidade no Estoque</th>
                        <th>Prazo de Reposição</th>
                        <th>Ponto de Pedido</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
