<div class="box">
    <div class="box-header">
        <h1 class="box-title">Recebimentos</h1>

        <div class="box-tools pull-right">
            &nbsp
            <button type="button" class="add btn btn-primary" data-toggle="modal" data-target="#modalRecebimento"
            data-forma-pagamento="Dinheiro"
            data-pago="false"> Adicionar </button>
        </div>
    </div>
    <div class="box-body">
        <table id="tabelaRecebimento" class="tbl table table-striped text-center">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Pagador</th>
                    <th>Data De Competencia</th>
                    <th>Qtde. de Parcelas</th>
                    <th>Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each contasReceber}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{pessoa}}</td>
                    <td>{{#formatDate dataCompetencia}}{{/formatDate}}</td>
                    <td>{{quantidadeDeParcelas}}X</td>
                    <td>R${{valorTotal}}</td>

                    <td class="acao">
                        <div class="toolbar-actions">
                            <div class="btn-group">
                                <a href="/contas-receber/edit/{{id}}">
                                    <button title="Editar" type="button" class="edit btn btn-primary"><i class="fa fa-edit"></i></button>
                                </a>
                            </div>

                            <div class="btn-group">
                                <form class="deletar" action="/contas-receber/destroy" method="post">
                                    <input type="hidden" name="id" value="{{id}}">
                                    <input type="hidden" name="venda" value="{{vendaId}}">
                                    <button title="Excluir" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Código</th>
                    <th>Pagador</th>
                    <th>Data De Competencia</th>
                    <th>Qtde. de Parcelas</th>
                    <th>Valor Total</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- ------------------------         MODAL         ------------------------ -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modalRecebimento">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <form name="formRecebimento" id="formRecebimento" method="post">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <input type="hidden" name="usuarioId" id="usuarioId" value="{{user.id}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Conta a Receber</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <span>Cliente: </span>
                            <input class="form-control" type="search" id="pessoa" name="pessoaId" list="listaPessoa" placeholder="Selecione um Cliente"/>
                            <datalist id="listaPessoa">
                                {{#each clientes}}
                                <option data-value="{{id}}" value="{{nome}}"></option>
                                {{else}}

                                {{/each}}
                            </datalist>
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <span>Data Competência: </span><span class="obrigatorio"> *</span>
                                <input class="inputData form-control" type="date" name="dataCompetencia" id="dataCompetencia" value="">
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <span>Valor Total: </span>
                                <input id="valorTotal" name="valorTotal" class="money form-control" type="text" value="">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <span>Qtde. de Parcelas: </span>
                                <select class="form-control" name="quantidadeDeParcelas" id="quantidadeDeParcelas">
                                    <option value=""> Selecione... </option>
                                    <option value="1"> 1x </option>
                                    <option value="2"> 2x </option>
                                    <option value="3"> 3x </option>
                                    <option value="4"> 4x </option>
                                    <option value="5"> 5x </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:10px; background-color: #eeeeee;" class="box box-solid">
                        <div class="box-header with-border">
                            <h5 class="modal-title">Parcelas</h5>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table id="tabelaDeParcelas" class="table table-hover table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Forma de Pag.</th>
                                        <th>Valor da Parcela</th>
                                        <th>Data de Vencimento</th>
                                        <th>Valor Pago</th>
                                        <th>Data de Pagamento</th>
                                        <th>Desconto</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="trParcelas">
                                        <td id="tdParcela"> <input type="hidden" name="parcela[]"> <span> 1° </span></td>
                                        <td id="tdFormaPagamento">
                                            <select class="form-control" name="formaDePagamento[]">
                                                <option value="Dinheiro"> Dinheiro</option>
                                                <option value="CartaoC"> Cartão de Crédito </option>
                                                <option value="CartaoD"> Cartão de Débito </option>
                                                <option value="Boleto"> Boleto </option>
                                                <option value="Carteira"> Carteira </option>
                                            </select>
                                        </td>
                                        <td id="tdValorParcela"><input class="money form-control" type="text" name="valorDaParcela[]" value="" size="8"></td>
                                        <td id="tdDataVencimento"><input class="inputData form-control" type="date" name="dataDeVencimento[]" value=""></td>
                                        <td id="tdValorPago"><input class="money form-control" type="text" name="valorPago[]" value="0.00" size="8"></td>
                                        <td id="tdDataPagamento"><input class="form-control" type="date" name="dataDePagamento[]" value=""></td>
                                        <td id="tdDesconto"><input class="money form-control" type="text" name="desconto[]" value="0.00" size="8"></td>
                                        <td id="tdStatus">
                                            <select class="status form-control" name="status[]">
                                                <option value="false"> Pendente </option>
                                                <option value="true"> Pago </option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="position: relative;" class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button style="position: absolute;" type="button" onclick="return validarFormRecebimentoPagamento('adicionar', 'recebimento')" class="salvar btn btn-primary">Salvar</button>
                    <button type="button" onclick="return validarFormRecebimentoPagamento('editar', 'recebimento')" class="editar btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
