<div class="row">
	<div class="col-md-8">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Financeiro</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body no-padding">
				<div class="box-body">

					{{#each valorRecebimentosAnual}}
					<input class="totalMesRecebimento" data-mes="{{mes}}"type="hidden" value="{{vlrRecebAnual}}">
					{{/each}}
					{{#each valorPagamentosAnual}}
					<input class="totalMesPagamento" data-mes="{{mes}}" type="hidden" value="{{vlrPagaAnual}}">
					{{/each}}
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 col-sm-6">
				<div class="box box-primary">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Recebimentos do Mês</h3>
					</div>
					<div class="box-body">
						<div class="text-center">
							<input type="text" class="knob" value="{{porcentagemRecebido}}" data-thickness="0.2" data-width="150" data-height="150"
							data-fgColor="#3E9C31" data-readonly="true" disabled>
							<div>
								<h4 class="knob-span-rec">Valor Recebido </h4>
								<h2 class="knob-span-rec">R${{valorRecebidoNoMes}}</h2>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<span class="pull-left">Valor a Receber: R${{valorAReceberNoMes}}</span><br>
						<span class="pull-left">Diferença: R${{diferencaRecebimento}}</span>
					</div>
				</div>
			</div>
			<div class="col-4 col-sm-6">
				<div class="box box-primary">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Pagamentos do Mês</h3>
					</div>
					<div class="box-body">
						<div class="text-center">
							<input type="text" class="knob" value="{{porcentagemPago}}" data-thickness="0.2" data-width="150" data-height="150"
							data-fgColor="#ED4800" data-readonly="true" disabled>
							<div>
								<h4 class="knob-span-pag">Valor Pago </h4>
								<h2 class="knob-span-pag">R${{valorPagoNoMes}}</h2>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<span class="pull-left">Valor a Pagar: R${{valorAPagarNoMes}} </span><br>
						<span class="pull-left">Diferença: R${{diferencaPagamento}}</span>
					</div>
				</div>
			</div>


			<div class="col-4 col-sm-6">
				<div class="box box-primary">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Lucratividade por Produto</h3>
					</div>
					<div class="box-body">
						<div class="text-center">
							<table class="table table-striped text-center">
								<thead>
									<tr>
										<th></th>
										<th>Produto</th>
										<th>Lucratividade</th>
										<th>Margem de Lucro</th>
									</tr>
								</thead>
								<tbody>
									{{#each lucratividade}}
									<tr>
										<td>{{#index @index}}{{/index}}º</td>
										<td>{{descricao}}</td>
										<td>{{lucratividade}}</td>
										<td>{{margemDeLucro}}%</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer text-center">
						<a class="small-box-footer" href="/relatorios/lucro-por-produto">
							Visualizar todos
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-4 col-sm-6">
				<div class="box box-primary">
					<div class="box-header with-border text-center">
						<h3 class="box-title">Alerta de Estoque</h3>
					</div>
					<div class="box-body">
						<div class="text-center">
							<table class="table table-striped text-center">
								<thead>
									<tr>
										<th>Produto</th>
										<th>Qtde. Estoque</th>
										<th>Ponto Pedido</th>
									</tr>
								</thead>
								<tbody>
									{{#each estoqueDeSeguranca}}

									<tr {{#ifMenor quantidade pontoDePedido}}class="obrigatorio"{{/ifMenor}}>
										<td>{{descricao}}</td>
										<td>{{quantidade}}</td>
										<td>{{pontoDePedido}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer text-center">
						<a class="small-box-footer" href="/relatorios/estoque-de-seguranca">
							Visualizar todos
							<i class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="small-box bg-aqua">
			<div class="icon">
				<ion-icon src="/icons/ios-cart.svg"></ion-icon>
			</div>
			<div class="inner">
				<span class="info-box-text">Vendas</span>
				<span class="info-box-number">{{vendasRealizadas}}</span>
				<span class="info-box-text">Total: R${{valorTotalVendas}}</span>
			</div>
			<a class="small-box-footer" href="/vendas/list-vendas">
				Acessar Vendas
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>

		<div class="small-box bg-aqua">
			<div class="icon">
				<ion-icon src="/icons/ios-people.svg"></ion-icon>
			</div>
			<div class="inner">
				<span class="info-box-text">Pessoas</span>
				<span class="info-box-text">Clientes: {{totalClientesCadastrados}}</span>
				<span class="info-box-text">Fornecedores: {{totalFornecedoresCadastrados}}</span>
			</div>
			<a class="small-box-footer" href="/pessoas/list-pessoas">
				Acessar Pessoas
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>

		<div class="small-box bg-aqua">
			<div class="icon">
				<ion-icon src="/icons/ios-archive.svg"></ion-icon>
			</div>
			<div class="inner">
				<span class="info-box-text">Produtos</span>
				<span class="info-box-text">Total Cadastrado: {{totalProdutosCadastrados}}</span>
				<span class="info-box-text">Valor Total em Estoque: R${{#each valorTotalEmEstoque}} {{vlrTotEmEstoque}} {{/each}}</span>
			</div>
			<a class="small-box-footer" href="/produtos/list-produtos">
				Acessar Produtos
				<i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
</div>
