<div class="box">
    <div class="box-header">
        <h1 class="box-title">Dados da Empresa</h1>
        <button type="button" class="add btn btn-primary" data-toggle="modal" data-target="#modalEmpresa"> Alterar/Novo </button>
    </div>
    <div class="box-body">
        {{#if dadosEmpresa}}
        {{#each dadosEmpresa}}
        <div class="row">
            <div class="col-md-2">
                <img src="/uploads/{{key}}" width="150px" height="150px">
            </div>
            <div class="col-md-5">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{nomeFantasia}}</h3>
                    </div>
                    <div class="box-body">
                        <dl>
                            <p><b>Razão Social: </b>{{razaoSocial}}</p>
                            <p><b>CNPJ: </b>{{cnpj}}</p>
                            <p><b>IE: </b>{{ie}}</p>
                            <p><b>Telefone: </b>{{telefone}}</p>
                            <p><b>Email: </b>{{email}}</p>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Endereço</h3>
                    </div>
                    <div class="box-body">
                        <dl>
                            <p><b>CEP: </b>{{cep}}</p>
                            <p><b>Rua: </b>{{rua}}</p>
                            <p><b>Nº: </b>{{numero}}</p>
                            <p><b>Bairro: </b>{{bairro}}</p>
                            <p><b>Cidade: </b>{{cidade}}</p>
                            <p><b>UF: </b>{{uf}}</p>
                            <p><b>Complemento: </b>{{complemento}}</p>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>


    <!-- MODAL -->
    {{#if dadosEmpresa}}
    {{#each dadosEmpresa}}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modalEmpresa">
        <form name="formEmpresa" id="formEmpresa" action="/empresa/update" method="post" enctype='multipart/form-data'>
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Dados Empresariais</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input type="file" name="file" id="logo" accept=".jpg, .png">
                                    <div>
                                        <input type="hidden" name="id" value="{{id}}">
                                        <input type="hidden" name="nome" value="{{name}}">
                                        <input type="hidden" name="size" value="{{size}}">
                                        <input type="hidden" name="key" value="{{key}}">
                                        <img src="/uploads/{{key}}" id="imgLogo" width="150px" height="150px"><br>
                                        <label id="btnLogo" class="btn btn-primary" for='logo'> <i class="fa fa-upload"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-10">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span> Nome Fantasia</span>
                                        <input class="form-control" type="text" id="nomeFantasia" name="nomeFantasia" size="60" value="{{nomeFantasia}}"/>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span> Razão Social </span>
                                        <input class="form-control" type="text" id="razaoSocial" name="razaoSocial" size="60" value="{{razaoSocial}}"/>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div id="navTabsEmpresa" class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_endereco" data-toggle="tab">Endereço</a></li>
                                            <li><a href="#tab_basico" data-toggle="tab">Basico</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_endereco">
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-2">
                                                            <span>CEP</span>
                                                            <input class="form-control" name="cep" type="text" id="cep" size="10" maxlength="9" onblur="pesquisacep(this.value);" value="{{cep}}"/>
                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            <span>Rua</span>
                                                            <input class="form-control" name="rua" type="text" id="rua" size="60"  value="{{rua}}"/>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <span>N°</span>
                                                            <input class="form-control" name="numero" type="text" id="numero" size="4"  value="{{numero}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <span>Bairro</span>
                                                            <input class="form-control" name="bairro" type="text" id="bairro" size="30"  value="{{bairro}}"/>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <span>Cidade</span>
                                                            <input class="form-control" name="cidade" type="text" id="cidade" size="40"  value="{{cidade}}"/>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <span>Estado</span>
                                                            <select id="uf" name="uf" class="form-control">
                                                                <option value='{{uf}}'>{{uf}}</option>
                                                                <option value='AC'> AC </option>
                                                                <option value='AL'> AL </option>
                                                                <option value='AP'> AP </option>
                                                                <option value='AM'> AM </option>
                                                                <option value='BA'> BA </option>
                                                                <option value='CE'> CE </option>
                                                                <option value='DF'> DF </option>
                                                                <option value='ES'> ES </option>
                                                                <option value='GO'> GO </option>
                                                                <option value='MA'> MA </option>
                                                                <option value='MT'> MT </option>
                                                                <option value='MS'> MS </option>
                                                                <option value='MG'> MG </option>
                                                                <option value='PA'> PA </option>
                                                                <option value='PB'> PB </option>
                                                                <option value='PR'> PR </option>
                                                                <option value='PE'> PE </option>
                                                                <option value='PI'> PI </option>
                                                                <option value='RJ'> RJ </option>
                                                                <option value='RN'> RN </option>
                                                                <option value='RS'> RS </option>
                                                                <option value='RO'> RO </option>
                                                                <option value='RO'> RR </option>
                                                                <option value='RO'> SC </option>
                                                                <option value='RO'> SP </option>
                                                                <option value='RO'> SE </option>
                                                                <option value='RO'> TO </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <span>Complemento</span>
                                                            <input class="form-control" name="complemento" type="text" id="complemento" size="60"  value="{{complemento}}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_basico">
                                                <div class="box-body">
                                                    <div class="form-row">
                                                        <div class="col-xs-6">
                                                            <div class="col-xs-12">
                                                                <span>CNPJ</span>
                                                                <input type="text" class="form-control" id="cnpj" name="cnpj" size="5"  value="{{cnpj}}">
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <span>IE</span>
                                                                <input type="text" class="form-control" size="12" id="ie" name="ie"  value="{{ie}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="col-xs-12">
                                                                <span>Telefone</span>
                                                                <input type="text" class="form-control" id="telefone" name="telefone"  value="{{telefone}}">
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <span>Email</span>
                                                                <input type="text" class="form-control" id="email" name="email"  value="{{email}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;" class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{/each}}
    <!-- -->
    {{else}}
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modalEmpresa">
        <form name="formEmpresa" id="formEmpresa" method="post" action="/empresa/store" enctype='multipart/form-data'>
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Dados Empresariais</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="input-group">
                                    <input type="file" name="file" id="logo" accept=".jpg, .png">
                                    <div>
                                        <img id="imgLogo" width="150px" height="150px"><br>
                                        <label id="btnLogo" class="btn btn-primary" for='logo'> <i class="fa fa-upload"></i></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-10">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span> Nome Fantasia</span>
                                        <input class="form-control" type="text" id="nomeFantasia" name="nomeFantasia" size="60"/>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span> Razão Social </span>
                                        <input class="form-control" type="text" id="razaoSocial" name="razaoSocial" size="60"/>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div id="navTabsEmpresa" class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab_endereco" data-toggle="tab">Endereço</a></li>
                                            <li><a href="#tab_basico" data-toggle="tab">Basico</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_endereco">
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-2">
                                                            <span>CEP</span>
                                                            <input class="form-control" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" />
                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            <span>Rua</span>
                                                            <input class="form-control" name="rua" type="text" id="rua" size="60" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <span>N°</span>
                                                            <input class="form-control" name="numero" type="text" id="numero" size="4" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <span>Bairro</span>
                                                            <input class="form-control" name="bairro" type="text" id="bairro" size="30" />
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <span>Cidade</span>
                                                            <input class="form-control" name="cidade" type="text" id="cidade" size="40" />
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <span>Estado</span>
                                                            <select id="uf" name="uf" class="form-control">
                                                                <option value=''>Selecione</option>
                                                                <option value='AC'> AC </option>
                                                                <option value='AL'> AL </option>
                                                                <option value='AP'> AP </option>
                                                                <option value='AM'> AM </option>
                                                                <option value='BA'> BA </option>
                                                                <option value='CE'> CE </option>
                                                                <option value='DF'> DF </option>
                                                                <option value='ES'> ES </option>
                                                                <option value='GO'> GO </option>
                                                                <option value='MA'> MA </option>
                                                                <option value='MT'> MT </option>
                                                                <option value='MS'> MS </option>
                                                                <option value='MG'> MG </option>
                                                                <option value='PA'> PA </option>
                                                                <option value='PB'> PB </option>
                                                                <option value='PR'> PR </option>
                                                                <option value='PE'> PE </option>
                                                                <option value='PI'> PI </option>
                                                                <option value='RJ'> RJ </option>
                                                                <option value='RN'> RN </option>
                                                                <option value='RS'> RS </option>
                                                                <option value='RO'> RO </option>
                                                                <option value='RO'> RR </option>
                                                                <option value='RO'> SC </option>
                                                                <option value='RO'> SP </option>
                                                                <option value='RO'> SE </option>
                                                                <option value='RO'> TO </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <span>Complemento</span>
                                                            <input class="form-control" name="complemento" type="text" id="complemento" size="60" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab_basico">
                                                <div class="box-body">
                                                    <div class="form-row">
                                                        <div class="col-xs-6">
                                                            <div class="col-xs-12">
                                                                <span>CNPJ</span>
                                                                <input type="text" class="form-control" id="cnpj" name="cnpj" size="5">
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <span>IE</span>
                                                                <input type="text" class="form-control" size="12" id="ie" name="ie">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="col-xs-12">
                                                                <span>Telefone</span>
                                                                <input type="text" class="form-control" id="telefone" name="telefone">
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <span>Email</span>
                                                                <input type="text" class="form-control" id="email" name="email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;" class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{/if}}
