<div class="box">
    <div class="box-header">
        <h1 class="box-title">Usuários</h1>
    </div>
    <div class="box-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUsuario"> Adicionar </button>

        <table id="tabelaUsuarios" class="tbl table table-striped text-center">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nivel de Acesso</th>
                    <th>Data de Inclusão</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <td>{{usuario}}</td>
                    <td>{{nivelAcesso}}</td>
                    <td>{{#formatDate createdAt}}{{/formatDate}}</td>
                    <td>{{ativo}}</td>
                    <td class="acao">
                        <div class="toolbar-actions">
                            <div class="btn-group">
                                <a href="/usuarios/edit/{{id}}">
                                    <button title="Editar" type="button" class="edit btn btn-primary"><i class="fa fa-edit"></i></button>
                                </a>
                            </div>

                            <div class="btn-group">
                                <form action="/usuarios/destroy" method="post">
                                    <input type="hidden" name="id" value="{{id}}">
                                    <button type="submit" name="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Usuario</th>
                    <th>Nivel de Acesso</th>
                    <th>Data de Inclusão</th>
                    <th>Ativo</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- ------------------------        MODAL         ------------------------ -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modalUsuario">
    <form id="formUsuario" name="formUsuario" method="post">
        <input type="hidden" name="id" id="id" value="{{id}}">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetFormUsuario()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Usuario</h4>
                </div>

                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-5">
                                <span>Usuario</span>
                                <input type="text" class="form-control" name="usuario" id="usuario" required="true">
                            </div>
                            <div class="col-xs-3">
                                <span>Nivel de Acesso</span>
                                <select id="nivelAcesso" name="nivelAcesso" class="form-control">
                                    <option value='Usuario'> Usuário </option>
                                    <option value='Administrador'> Administrador </option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <span>Ativo</span>
                                <select id="ativo" name="ativo" class="form-control">
                                    <option value='Ativo'> SIM </option>
                                    <option value='Inativo'> NÃO </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <span>Senha</span>
                                <input type="password" class="form-control" name="senha" id="senha" required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: relative;" class="modal-footer">
                    <button type="button" onclick="resetFormUsuario()" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="return validarFormUsuario()" class="salvar btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>
