<div style="background: white;">
    <form name="formVenda" id="formVenda" method="post">
        <div class="">
            <div class="modal-header">
                <input type="hidden" name="vendaId" value="{{venda.id}}">
                <h4 class="modal-title">Venda</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="input-group">
                                <span class="input-group-addon">Cliente</span>
                                <!-- Verificação de status -->
                                <input type="hidden" name="pessoaId" value="{{venda.pessoaId}}">
                                <input class="form-control" type="search" id="cliente" list="listaCliente" value="{{venda.pessoaNome}}" disabled/>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon">Situação: </span>
                                <select id="status" name="status" class="form-control">
                                    <option value='ORCAMENTO' {{#ifCond venda.status "ORCAMENTO"}} selected {{/ifCond}}> ORÇAMENTO </option>
                                    <option value='VENDA' {{#ifCond venda.status "VENDA"}} selected {{/ifCond}}> VENDA </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="input-group">
                                <span class="input-group-addon">Data</span>
                                <input class="form-control" type="date" name="dataVenda" id="dataVenda" value="{{venda.dataVenda}}" >
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="input-group">
                                <input type="hidden" name="usuarioId" value="{{venda.usuarioId}}">
                                <span class="input-group-addon">Usuário: </span>
                                <input class="form-control" type="text" name="usuario" id="usuario" value="{{venda.usuario}}" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_itens" data-toggle="tab">Itens</a></li>
                                    <li><a href="#tab_pagamento" data-toggle="tab">Pagamento</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_itens">
                                        <button id="addItem" type="button" class="desativado btn bg-olive">ADICIONAR ITEM</button>
                                        <table id="tabelaItens" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Quantidade</th>
                                                    <th>Valor</th>
                                                    <th>SubTotal</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each itensVenda}}
                                                <tr class="linha">
                                                    <td id="tdItens" class="tdItens col-xs-5">
                                                        <div class="input-group">
                                                            <input class="item form-control" type="search" name="produtos[]" list="listaProdutos" placeholder="Selecione um Produto" value="{{descricaoProduto}}"/>
                                                            <span class="input-group-btn">
                                                                <a href="/produtos/list-produtos"><button title="Adicionar Produto" type="button" class="desativado btn btn-primary btn-flat">Novo Produto</button></a>
                                                            </span>
                                                            <datalist id="listaProdutos">
                                                                {{#each ../produtos}}
                                                                <option data-quantidade="{{quantidade}}" data-valor="{{valorUnitario}}" data-id="{{id}}" value="{{descricao}}"></option>
                                                                {{else}}

                                                                {{/each}}
                                                            </datalist>
                                                        </div>
                                                    </td>
                                                    <td id="tdQuant" class="tdQuant col-xs-2">
                                                        <div class="input-group">
                                                            <input type="number" class="quantidade form-control" name="quantidade[]" min="1" value="{{quantidade}}">
                                                        </div>
                                                    </td>
                                                    <td id="tdValor" class="tdValor col-xs-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">R$</span>
                                                            <input class="money valorUnitario form-control" type="text" name="valorUnitario[]" value="{{valorUnitario}}" >
                                                        </div>
                                                    </td>
                                                    <td id="tdTotal" class="tdTotal col-xs-3">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">R$</span>
                                                            <input class="money subTotal form-control" type="text" name="subTotal[]" value="{{valorTotal}}" >
                                                        </div>
                                                    </td>
                                                    <td id="tdAcao" class="tdAcao">
                                                        <button type="button" onclick="RemoveTableRow(this)" name="button" class="desativado btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-xs-3">

                                                <div class="input-group">
                                                    <span style="background: #367FA9; color: white;" class="input-group-addon">Desconto: R$</span>
                                                    <input class="money form-control" type="text" name="desconto" id="desconto" value="{{venda.desconto}}" size="5" >
                                                </div>
                                                <div class="input-group">
                                                    <span style="background: #367FA9; color: white;" class="input-group-addon">Total: R$</span>
                                                    <input class="money form-control" type="text" name="valorTotal" id="total" value="{{venda.valorTotal}}" size="5" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_pagamento">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <span>Condição de Pagamento</span>
                                                    <select id="condicaoPagamento" name="condicaoPagamento" class="form-control" >
                                                        <option value='Vista'{{#ifCond venda.condicaoPagamento "Vista"}} selected {{/ifCond}}> À Vista </option>
                                                        <option value='Prazo'{{#ifCond venda.condicaoPagamento "Prazo"}} selected {{/ifCond}}> A Prazo </option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-3">
                                                    <span>Quantidade de Parcelas</span>
                                                    <input type="number" class="form-control" id="parcelas" name="parcelas" min="1" value="{{venda.parcelas}}" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="position: relative;" class="modal-footer">
                <a href="/vendas/list-vendas">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                </a>
                <button type="button" onclick="SalvarVenda('editar')" class="desativado btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>
