<div class="box">
    <div class="box-header">
        <h1 class="box-title">Produtos</h1>

        <div class="box-tools pull-right">
			&nbsp
            <button type="button" class="add btn btn-primary"
            data-ativo="Ativo"
            data-genero=""
            data-toggle="modal" data-target="#modalProduto"> Adicionar </button>
        </div>
    </div>
    <div class="box-body">
        <table id="tabelaProdutos" class="tbl table table-striped text-center">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Valor</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each produtos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{descricao}}</td>
                    <td>{{quantidade}}</td>
                    <td>{{nomeFabricante}}</td>
                    <td>{{descricaoModelo}}</td>
                    <td>{{valorUnitario}}</td>
                    <td>{{ativo}}</td>
                    <td class="acao">
                        <div class="toolbar-actions">
                            <div class="btn-group">
                                <button type="button" name="button" class="edit btn btn-primary" data-toggle="modal" data-target="#modalProduto"
                                data-id="{{id}}"
                                data-descricao="{{descricao}}"
                                data-quantidade="{{quantidade}}"
                                data-genero="{{genero}}"
                                data-nomefabricante="{{nomeFabricante}}"
                                data-descricaomodelo="{{descricaoModelo}}"
                                data-valor="{{valorUnitario}}"
                                data-valorcusto="{{valorCusto}}"
                                data-prazo="{{prazoReposicao}}"
                                data-ativo="{{ativo}}">
                                <i class="fa fa-edit"></i></button>
                            </div>
                            <div class="btn-group">
                                <form class="deletar" action="/produtos/list-produtos/deletar" method="post">
                                    <input type="hidden" name="id" value="{{id}}">
                                    <button type="button" name="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Valor Unitário</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- ------------------------        MODAL         ------------------------ -->

<div class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" id="modalProduto">
    <form name="formProduto" id="formProduto" method="post">
        <input type="hidden" name="id" id="id" value="{{id}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Adicionar Produto</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <span>Descrição</span><span class="obrigatorio"> *</span>
                            <input type="text" class="form-control" name="descricao" id="descricao">
                        </div>

                        <div class="col-xs-2">

                            <span>Quantidade</span><span class="obrigatorio"> *</span>
                            <input type="number" class="quantidade form-control" id="quantidade" name="quantidade" min="1" value="1" disabled>
                        </div>
                    </div>

                    <div style="margin-top: 2%;" class="row">
                        <div class="col-xs-4">
                            <span>Gênero</span>
                            <select id="genero" name="genero" class="form-control">
                                <option value=""> Selecione... </option>
                                <option value='MR'> MERCADORIA P/ REVENDA </option>
                                <option value='MP'> MATÉRIA PRIMA </option>
                                <option value='EMB'> EMBALAGEM </option>
                                <option value='PP'> PRODUTO EM PROCESSO </option>
                                <option value='PA'> PRODUTO ACABADO </option>
                                <option value='SUBP'> SUBPRODUTO </option>
                                <option value='PI'> PRODUTO INTERMEDIÁRIO </option>
                                <option value='MUC'> MATERIAL DE USO E CONSUMO </option>
                                <option value='AI'> ATIVO IMOBILIZADO </option>
                                <option value='SERV'> SERVIÇOS </option>
                                <option value='OUTROS'> OUTROS </option>
                            </select>
                        </div>

                        <div class="col-xs-4">
                            <span>Fabricante</span><span class="obrigatorio"> *</span>
                            <div class="input-group">
                                <input type="hidden" id="fabricante" name="fabricante" value="">
                                <input class="form-control" type="search" id="nomeFabricante" name="nomeFabricante" list="listaFabricantes" placeholder="Selecione um Fabricante"/>
                                <span class="input-group-btn">
                                    <a href="/produtos/list-fabricantes"><button type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i></button></a>
                                </span>
                                <datalist id="listaFabricantes">
                                    {{#each fabricantes}}
                                    <option data-value="{{id}}" value="{{nome}}"></option>
                                    {{else}}
                                    <option data-value="0" value="Nenhum fabricante registrado"></option>
                                    {{/each}}
                                </datalist>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <span>Modelo</span><span class="obrigatorio"> *</span>
                            <div class="input-group">
                                <input type="hidden" id="modelo" name="modelo" value="">
                                <input class="form-control" type="search" id="descricaoModelo" name="descricaoModelo" list="listaModelos" placeholder="Selecione um Modelo"/>
                                <span class="input-group-btn">
                                    <a href="/produtos/listModelo"><button type="button" class="btn btn-primary btn-flat"><i class="fa fa-plus"></i></button></a>
                                </span>
                                <datalist id="listaModelos">
                                    {{#each modelos}}
                                    <option data-value="{{id}}" value="{{descricao}}"></option>
                                    {{else}}
                                    <option data-value="0" value="Nenhum modelo registrado"></option>
                                    {{/each}}
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 2%;" class="row">

                        <div class="col-xs-3">
                            <span>Valor Unitário</span><span class="obrigatorio"> *</span>
                            <input class="money form-control" type="text" name="valorUnitario" id="valorUnitario" value="">
                        </div>
                        <div class="col-xs-3">
                            <span>Valor de Custo</span><span class="obrigatorio"> *</span>
                            <input class="money form-control" type="text" name="valorCusto" id="valorCusto" value="">
                        </div>
                        <div class="col-xs-3">
                            <span>Prazo de Reposição (dias)</span><span class="obrigatorio"> *</span>
                            <input class="form-control" type="number" name="prazoReposicao" id="prazoReposicao" value="1">
                        </div>
                        <div class="col-xs-2">
                            <span>Ativo</span>
                            <select id="ativo" name="ativo" class="form-control">
                                <option value='Ativo'> SIM </option>
                                <option value='Inativo'> NÃO </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="position: relative;" class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button style="position: absolute;" type="button" onclick="return validarFormProduto('adicionar')" class="salvar btn btn-primary">Salvar</button>
                    <button type="button" onclick="return validarFormProduto('editar')" class="editar btn btn-primary">Editar</button>
                </div>
            </div>
        </div>
    </form>
</div>
